.App {
	background-image: url("img/webpage.jpg");
	height: 100%;
}

.borderC {
	border: 2px blue solid;

	
}

.borderR {
	border: 4px red solid;
}

.main-title{
  color: white;
  background-color: rgb(0, 54, 26);
  padding: 8px 0 14px 0;
  font-size: 75px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}




/*JANUARY*/
.title{
	color: hotpink;
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	font-variant: small-caps;
	background-color: #333;
	padding-bottom: 7px;
}

.table {
	
	border: 10px yellow solid;
	
}


.Game {
	border: 4px solid yellow;
	
	width: 1400px;
	height: 900px;
	margin: 120px auto 0 auto;
}

.tile{
	border: 4px solid black;
	color: yellow;
	background-color: purple;
	display: inline-block;
	width:100px;
	height:100px;
  	margin: 20px;
  	text-align: center;
}	


.textDate{
  color: white;
  background-color: #588C94;
  padding: 8px 0 14px 0;
  font-size: 15px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

/*border: 3px solid black;
left: 0px;
*/

.tilebutton {
	color: yellow;
	background-color: purple;
	width:100px;
	height:100px;
	border: #588C94 solid 1px;
}

.tilematchbutton {
	color: yellow;
	background-color: green;
	width:100px;
	height:100px;
	border: #588C94 solid 1px;
}


.todoitems input{
		width: 253px;
		float: left;

}

.todoitems{
	width: 253px;
	margin: 0 auto 30px auto;
	/*display:none;*/
}